/* 
    Document   : style
    Created on : Jun 21, 2013, 9:03:21 PM
    Author     : Jimmy
*/

/* Sitewide */

.container {
    margin-top: 20px;
}

input[type="text"] {
    height: 38.5px;
    font-size: 38.5px;
    width: 350px;
}

/* Main Page */

#main .thumbnail img {
    height: 250px;
}

/* Boardgame Page */

#gameNameContainer h1 {
    display: inline;
}

#boardgameView .editButton {
    vertical-align: 10px;
}

#boardgameView .btn {
    vertical-align: 10px;
}

#gameDescriptionContainer {
    margin-top: 20px;
}

.hidden {
    display: none;
}




