/* 
    Document   : style
    Created on : Jun 21, 2013, 9:03:21 PM
    Author     : Jimmy
*/

/* Sitewide */

body {
  background: url(/assets/img/TypefaceScrabble.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    margin-top: 20px;
}

.hero-unit {
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
}

input[type="text"] {
    height: 38.5px;
    font-size: 38.5px;
    width: 350px;
}

/* Main Page */

#main .thumbnail {
    background-color: #000;
    border: none;
}

#main .thumbnail img {
    margin-top: 10px;
    height: 250px;
}

#main .thumbnail h3 {
    color: #fff;
}

/* Boardgame Page */

#gameNameContainer h1 {
    display: inline;
}

#boardgameView .editButton {
    vertical-align: 10px;
}

#boardgameView .btn {
    vertical-align: 10px;
}

#gameDescriptionContainer {
    margin-top: 20px;
}

.hidden {
    display: none;
}




