/* 
    Document   : style
    Created on : Jun 21, 2013, 9:03:21 PM
    Author     : Jimmy
*/

/* Sitewide */

body {
  background: url(/assets/img/TypefaceScrabble.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    margin-top: 20px;
}

.hero-unit {
    background-color: #583D3D;
    color: #fff;
    margin-bottom: 20px;
}

.hero-unit h1 {
    padding-bottom: 10px;
}

.hero-unit p {
    margin-bottom: 0;
}

input[type="text"] {
    height: 38.5px;
    font-size: 38.5px;
    width: 350px;
}


/* Main Page */

#main .thumbnail {
    background-color: #583D3D;
    border: none;
}

#main .thumbnails a:hover {
    text-decoration: none;
}

#main .thumbnail img {
    margin-top: 10px;
    width: 270px;
    height: 250px;
}

#main .thumbnail h3 {
    color: #fff;
    text-align: center;
}

/* Boardgame Page */

#contentContainer {
    margin-top: 40px;
}

#boardgameView {
    background-color: #583D3D;
    color: #fff;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#boardgameView img {
    width: 270px;
    height: 250px;
}

#gameNameContainer h1 {
    display: inline;
    margin-right: 10px;
    font-size: 48px;
}

#gameNameContainer .saveButton {
    vertical-align: 3px;
}

#gameDescriptionContainer p {
    font-size: 30px;
    line-height: 35px;
}

#boardgameView .editButton {
    vertical-align: 9px;
}

#boardgameView textarea {
    width: 550px;
    overflow-y: auto;
    resize: none;
}

#gameDescriptionContainer {
    margin-top: 20px;
}

.hidden {
    display: none;
}




